<table style="width: 1150px">
    <col width=70>
    <col width=70>
    <col width=70>
    <col width=70>
    <col width=250>
    <col width=50>
    <col width=50>
    <col width=90>
    <col width=70>
    <col width=70>
    <col width=70>
    <col width=150>
    <col width=50>
    <tr>
        <th>上傳日期<br/>
        <th>狀態</th>
        <th>序號</th>
        <th>信件種類</th>
        <th>檔案名稱</th>
        <th>國家</th>
        <th>備註</th>
        <th>封數</th>
        <th>志工姓名</th>
        <th>領取日期</th>
        <th>應返日期</th>
        <th>回傳日期</th>
        <th>譯返下載</th>
        <th>操作</th>
    </tr>

    <% pages.each do |page| %>
        <% if query_string %>
            <a href="/employee?start=<%= page %>&<%= query_string %>"><%= page %></a>&nbsp;
        <% else %>
            <a href="/employee?start=<%= page %>"><%= page %></a>&nbsp;
        <% end %>
    <% end %>
    <% letters.each do |letter| %>
        <tr>
            <% if query_string2 %>
                <form method=post action="update_letter?<%= query_string2 %>">
            <% else %>
                <form method=post action='update_letter'>
            <% end %>
            <td style="display:none"><input name="id" value="<%= letter.id %>"></input></td>
            <td><%= h letter.create_date %></td>
            <td><%= h letter.status %></td>
            <td><input name="priority" value="<%= letter.priority %>"></input></td>
            <td><input name="letter_source_type" value="<%= letter.letter_source_type %>"></input></td>
            <td class="wrap"><%= truncate letter.upload_file_name %></td>
            <td>
                <select id="countries" name="country" select="<%= letter.country_id %>">
                    <option>請選擇</option>
                    <% countries.each do |country| %>
                        <option value="<%= h country.id %>"><%= h country.name %></option>
                    <% end %>
                </select>
            </td>
            <td><textarea name="note" rows="3" style="width:140px"><%= h letter.note %></textarea></td>
            <td><input style="width: 30px" name="number_of_letters" value="<%= letter.number_of_letters %>"></input></td>
            <td><%= h letter.voulenteer_name %></td>
            <td><%= h letter.claim_date %></td>
            <td><%= h letter.due_date %></td>
            <td><%= h letter.return_date %></td>
            <td><a href="/serve?blob-key=<%= letter.return_file_url %>"><%= h letter.return_file_name %></a></td>
            <td>
                <% if (letter.claim_date == nil) %>
                    <input type=submit value="更新">
                    </form>
                    <form method=post action='delete_letter'>
                        <input style="display:none" name="id" value="<%= letter.id %>"></input>
                        <input type=submit value="刪除">
                    </form>
                <% elsif (letter.status == "已譯返") %>
                    <input type=submit value="更新">
                    </form>
                    <form method=post action='delete_letter'>
                        <input style="display:none" name="id" value="<%= letter.id %>"></input>
                        <input type=submit value="刪除">
                    </form>
                <% end %>
                </td>
                </tr>
    <% end %>
</table>
  