<table id="search">
<tr>
	<th>翻譯類別</th>
	<th>國家</th>
	<th>員工</th>
	<th>日期</th>
</tr>
<tr>
	<form action="/employee" method="GET">
	<td>
		<!-- <form action="/employee" method="GET"> -->
		<select id="tans_select" name="type" onChange='form.submit()'>
			<option value=''>請選擇</option>
	        <option value="eng">英翻中</option>
			<option value="chi">中翻英</option>
	    </select>
		<!-- </form> -->
		
	</td>
	<td>
		<!-- <form action="/employee" method="GET"> -->
		<select id="country_select" name="country_id" onChange='form.submit()'>
			<option value=''>請選擇</option>
	        <% @countries.each do |country| %>	
			<option value="<%=h country.id%>"><%=h country.name%></option>
			<% end %>
	    </select>
		<!-- </form> -->
	</td>
	<td>
		<!-- <form action="/employee" method="GET"> -->
		<select id="employee_select" name="employee_id" onChange='form.submit()'>
			<option value=''>請選擇</option>
	        <% @employees.each do |employee| %>	
			<option value="<%=h employee.account%>"><%=h employee.account%></option>
			<% end %>
	    </select>
		<!-- </form> -->
	</td>
	<td>
		<!-- <form action="/employee" method="GET"> -->
		<input type="text" id="date_select" name="date" onChange='form.submit()'>
		<!-- <select id="date_select" name="date" >
						<option value=''>請選擇</option>
				        <% @dates.each do |date| %>	
						<option value="<%=h date%>"><%=h date%></option>
						<% end %>
				    </select> -->
		<!-- </form> -->
	</td>
	<!-- <td>
				<input type="submit" value="搜尋"></input>
			</td> -->
	</form>
</tr>
</table>