<html>
<head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= erb :js_css_header %>
    <script type="text/javascript">
        var trans_type = "英翻中";
        $(document).ready(function() {
            var type = getUrlVars()["type"];
            if (type)
                setSelected($('#tans_select'), type);
            var country = getUrlVars()["country_id"];
            if (country)
                setSelected($('#country_select'), country);
            var employee = getUrlVars()["employee_id"];
            if (employee)
                setSelected($('#employee_select'), employee);

            // if (date)
            // ($('#date_select').attr("value", "1234");
            // else
            // 		setSelected($('#tans_select'), trans_type);
            // alert ($('select[select]').length);
            $('select[select]').each(function() {
                setSelected($(this), $(this).attr("select"));
            });

            // Datepicker
            // $('#date_select').datepicker();
        });

        $(function() {

            $("#date_select").datepicker();
            var date = getUrlVars()["date"]
            if (date) {
                date = $.url.decode(date)
                $("#date_select").datepicker("setDate", date);
            }
        });

    </script>
</head>
<body style="font-family: sans-serif; width: 1150px" class="employee">
<%= erb :header_wide %>


<!-- file upload   -->
<div class="orange" style="height: 135px">
    <div style="float:left">
        <span style="font-size:18px">檔案上傳</span>

        <form name="uploadform" action="/file_upload"
              enctype="multipart/form-data" method="post">
            <p>
                請選擇欲上傳檔案:<br>
                <input id="user_id" style="display:none" type="text" name="id" value="<%= @account.account %>"/>
                <input type="file" name="myFile" size="40"/>
                <select id="trans_type" name="type">
                    <option>請選擇</option>
                    <option value="eng">英翻中</option>
                    <option value="chi">中翻英</option>
                </select>
            </p>
            <div>
                <button type="button" onClick="submitform()">上傳檔案</button>
        </form>
        <script type="text/javascript">
            var trans_type = "eng";
            function submitform() {
                // document.uploadform.action = "
            <%=@url%>?from=/employee&to=/file_upload&id=" + document.getElementById("user_id").value + "&type="
                // 				+ document.getElementById("trans_type").value;
                document.uploadform.action = "<%=@url%>";
                post_parameters(document.uploadform, {from:'/employee',to:'/file_upload', id:document.getElementById("user_id").value,type:document.getElementById("trans_type").value});
                document.uploadform.submit();
            }
        </script>
    </div>
    </form>
    <!-- end -->
    <!-- show letters -->
    <!-- total = <%= @letters.length %> rows -->
</div>
<div style="position:relative; left:100px">
    <span style="font-size:18px">上傳檔案查詢</span>
    <%#-= erb(:_search_emp, :layout => false) %>
    <table id="search" class="nowidth">
        <tr>
            <th>翻譯類別</th>
            <th>國家</th>
            <th>員工</th>
            <th>日期</th>
        </tr>
        <tr>
            <form action="/employee" method="GET">
                <td>
                    <!-- <form action="/employee" method="GET"> -->
                    <select id="tans_select" name="type" onChange='form.submit()'>
                        <option value=''>請選擇</option>
                        <option value="eng">英翻中</option>
                        <option value="chi">中翻英</option>
                    </select>
                    <!-- </form> -->

                </td>
                <td>
                    <!-- <form action="/employee" method="GET"> -->
                    <select id="country_select" name="country_id" onChange='form.submit()'>
                        <option value=''>請選擇</option>
                        <% @countries.each do |country| %>
                            <option value="<%= h country.id %>"><%= h country.name %></option>
                        <% end %>
                    </select>
                    <!-- </form> -->
                </td>
                <td>
                    <!-- <form action="/employee" method="GET"> -->
                    <select id="employee_select" name="employee_id" onChange='form.submit()'>
                        <option value=''>請選擇</option>
                        <% @employees.each do |employee| %>
                            <option value="<%= h employee.account %>"><%= h employee.account %></option>
                        <% end %>
                    </select>
                    <!-- </form> -->
                </td>
                <td>
                    <!-- <form action="/employee" method="GET"> -->
                    <input type="text" id="date_select" name="date" onChange='form.submit()'>

                </td>
                <!-- <td>
                        <input type="submit" value="搜尋"></input>
                    </td> -->
            </form>
        </tr>
    </table>
</div>
</div>
<br/>
<%= erb :_emp_letters, {:layout=>false},{:pages => @pages, :query_string => @query_string,:letters => @letters,:query_string_2 =>@query_string2,:countries =>@countries} %>
<!-- end -->


<div style="position: absolute; bottom: 20px; right: 20px;">
    <!-- <img src="/images/appengine.gif"></div> -->
</body>
</html>