<html>
<head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= erb :js_css_header %>
    <script type="text/javascript">
        var trans_type = "英翻中";
        $(document).ready(function() {
            var params = getUrlVars();
            var type = getUrlVars()["type"] == null ? "eng" : params["type"];
            var letter_status = params["letter_status"];
            if (letter_status){
                setSelected($('#status'), letter_status);
            }
            if (type)
                setSelected($('#type'), type);

            markSelected($('#tans_select'), type);

            $('select[select]').each(function() {
                setSelected($(this), $(this).attr("select"));
            });
        });

        $(function() {

            $("#date_select").datepicker();
            var date = getUrlVars()["date"]
            if (date) {
                date = $.url.decode(date)
                $("#date_select").datepicker("setDate", date);
            }
        });
    </script>
</head>
<body style="font-family: sans-serif; width: 1150px" class="employee">
<%= erb :header_wide %>


<!-- file upload   -->
<div class="orange" style="height: 135px">
    <div style="float:left">
        <span style="font-size:18px">檔案上傳</span>

        <form name="uploadform" action="/file_upload"
              enctype="multipart/form-data" method="post">
            <p>
                請選擇欲上傳檔案:<br>
                <input id="user_id" style="display:none" type="text" name="id" value="<%= @account.account %>"/>
                <input type="file" name="myFile" size="40"/>
                <select id="trans_type" name="type">
                    <option>請選擇</option>
                    <option value="eng">英翻中</option>
                    <option value="chi">中翻英</option>
                </select>
            </p>
            <div>
                <button type="button" onClick="submitform()">上傳檔案</button>
        </form>
        <script type="text/javascript">
            var trans_type = "eng";
            function submitform() {
                // document.uploadform.action = "
            <%=@url%>?from=/employee&to=/file_upload&id=" + document.getElementById("user_id").value + "&type="
                // 				+ document.getElementById("trans_type").value;
                document.uploadform.action = "<%=@url%>";
                post_parameters(document.uploadform, {from:'/employee',to:'/file_upload', id:document.getElementById("user_id").value,type:document.getElementById("trans_type").value});
                document.uploadform.submit();
            }
        </script>
    </div>
    </form>
    <!-- end -->
    <!-- show letters -->
    <!-- total = <%= @letters.length %> rows -->
</div>
<div style="position:relative; left:100px">
    <span style="font-size:18px">上傳檔案查詢</span>
    <form action="/employee" method="GET">
    <select id="status" name="letter_status" onChange='form.submit()'>
        <option>請選擇</option>
        <option value="未領取">未領取</option>
        <option value="已領取">已領取</option>
        <option value="緊急">緊急</option>
    </select>
    <select id="type" name="type" style="display:none">
        <option value="eng">英翻中</option>
        <option value="chi">中翻英</option>
    </select>
    </form>
</div>
</div>
<br/>
<%= erb :_trans_type , {:layout=>false}, {:action => '/employee'} %>

<% if @trans_type == 'eng' %>
<h3>待譯</h3>
<%= erb :_emp_eng_letters, {:layout=>false},{:pages => @pages, :query_string => @query_string,:letters => @letters,:query_string2 =>@query_string2,:countries =>@countries} %>
<h3>譯返</h3>
<%= erb :_emp_eng_letters, {:layout=>false},{:pages => @return_letters_pages, :query_string => @query_string,:letters => @return_letters,:query_string2 =>@query_string2,:countries =>@countries} %>
<% else %>
<h3>待譯</h3>
<%= erb :_emp_chi_letters, {:layout=>false},{:pages => @pages, :query_string => @query_string,:letters => @letters,:query_string2 =>@query_string2,:countries =>@countries} %>
<h3>譯返</h3>
<%= erb :_emp_chi_letters, {:layout=>false},{:pages => @return_letters_pages, :query_string => @query_string,:letters => @return_letters,:query_string2 =>@query_string2,:countries =>@countries} %>
<% end %>
<!-- end -->


<div style="position: absolute; bottom: 20px; right: 20px;">
    <!-- <img src="/images/appengine.gif"></div> -->
</body>
</html>