<html>
<head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="stylesheet"/>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var type = getUrlVars()["type"] == null ? "both" : getUrlVars()["type"];
            setSelected($('#tans_select'), type);
        });

        function check(id) {
            var ele = document.getElementById(id);
            if (ele && ele.value == '') {
                alert("請輸入退件原因");
                return false;
            }
        }

        function show_download_file(id, file_key, file_name, account_id) {
            if (id && file_name) {
                // var url = '<br/><br/><a href="/file_download?id='+ id +'">下載'+file_name+'</a><br/><br/>';
                var url = '<br/><br/><a href="/serve?blob-key=' + file_key + '">下載' + file_name + '</a><br/><br/><a href="/claim_letter?id=' + id + '&account_id=' + account_id + '"> 確認領取	</a>';
                document.getElementById('dialog').innerHTML = url;
                $("#dialog").dialog({
                    close: function(event, ui) {
                        // claim_letter(id, account_id);
                        // alert(account_id);
                    }
                });
                return false;
            }

        }

        function claim_letter(id, account_id) {
            window.location.href = '/claim_letter?id=' + id + '&account_id=' + account_id;
        }

        function download_file(id) {
            if (id != null) {
                var url = '/file_download?id=' + id;
                window.open('/file_download?id=' + id, window);
            }
        }
    </script>
    <link type="text/css" href="app.css" rel="stylesheet"/>
</head>
<body style="font-family: sans-serif;">
<div style="">
    <br>
    <%= erb :vou_header %>
    <div id="dialog" title="下載檔案">
    </div>
    <a href="/voulenteer/template">各國信件翻譯範本</a>
    <a href="/voulenteer/note">各國翻譯注意事項</a>
    <a href="/voulenteer/noun">各國翻譯常見名詞</a>
    <% if @account_trans_type && @account_trans_type == 'both' %>
        <h3>翻譯類別</h3>

        <form action="/voulenteer" method="GET">
            <h3>翻譯類別</h3>
            <select name="type" onchange="this.form.submit();" id="tans_select">
                <option value="eng" class="option-text">英翻中</option>
                <option value="chi" class="option-text">中翻英</option>
            </select>
        </form>
    <% end %>

    <br/>
    <script>
        $(function() {
            $("#tabs").tabs();
        });
    </script>
    <% if  @account_trans_type && (@account_trans_type == 'both' || @account_trans_type == 'chi') %>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">緊急</a></li>
                <li><a href="#tabs-2">手寫稿</a></li>
                <li><a href="#tabs-3">打字稿</a></li>
            </ul>
            <div id="tabs-1">
                <h3>未領取</h3>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @letters, :account_id => @account_id, :url=>@url} %>
                <h3>已領取</h3>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @voulenteer_letters, :url=>@url} %>
            </div>
            <div id="tabs-2">

            </div>
            <div id="tabs-3">
                <h3>未領取</h3>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @letters, :account_id => @account_id, :url=>@url} %>
                <h3>已領取</h3>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @voulenteer_letters, :url=>@url} %>
            </div>
        </div>
    <% else %>
        <h3>未領取</h3>
        <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @letters, :account_id => @account_id, :url=>@url} %>
        <h3>已領取</h3>
        <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @voulenteer_letters, :url=>@url} %>
    <% end %>


    <div style="position: absolute; bottom: 20px; right: 20px;">
        <!-- <img src="/images/appengine.gif"></div> -->
    </div>
</div>
</body>
</html>