<html>
  <head>
    <title>World Vision</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="font-family: sans-serif;">
    <h1>World Vision Employee</h1>
    
    <!-- edit letters -->
    <!-- <form method=post>
              account, <input name="account" value="zzzz"></input><br/>
              password, <input name="password" value="zzzz"></input><br/>
              role,<select name="role"><br/>
                <option value="employee">employee</option>
                <option value="voulenteer">voulenteer</option>
              </select>
              name, <input name="name" value="zzzz"></input><br/>
              voulenteer_id, <input name="voulenteer_id" value="123"></input><br/>
              voulenteer_type, 
              <select name="voulenteer_type"><br/>
                <option value="chinese">chinese</option>
                <option value="english">english</option>
                <option value="both">both </option>
              </select><br/>
              <input type=submit value=Create>
    </form> -->
    <!-- end -->
    
    <!-- show letters -->
    <!-- total = <%=@letters.length%> rows -->
    <table border="1">
    <tr>
      <th>上傳日期</th>
      <th>上傳員工</th>
      <th>國家</th>
      <th>信種</th>
      <th>備註</th>
      <th>封數</th>
      <th>狀態</th>
      <th>志工編號</th>
      <th>志工姓名</th>
      <th>領取日期</th>
      <th>應返日期</th>
      <th>回傳日期</th>
      <th>回傳檔案</th>
      <th>操作</th>
    </tr>
    

      <% @letters.each do |letter| %>
    <tr>
        <form method=post action='update_letter'>
        <td style="display:none"><input name="id" value="<%= letter.id %>"></input></td>
        <td><%=h letter.create_date%></td>
        <td><%=h letter.employee_id%></td>
        <td><%=h letter.country%><br/>
          <select name="country">
            <option value="衣索比亞">衣索比亞</option>
            <option value="莫三比克">莫三比克</option>
            <option value="薩爾瓦多">薩爾瓦多</option>
            <option value="波利維亞">波利維亞</option>
            <option value="海地">海地</option>
            <option value="尼日">尼日</option>
            <option value="印尼">印尼</option>
            <option value="衣索比亞">衣索比亞</option>
            <option value="哥倫比亞">哥倫比亞</option>
            <option value="盧安達">盧安達</option>
          </select>
          </td>
        <td><%=h letter.type%>  <br/>
            <select name="type">
              <option value="兒童自介信">兒童自介信</option>
              <option value="兒童回信">兒童回信</option>
              <option value="禮金謝信">禮金謝信</option>
            </select>
        </td>
        <td><textarea name="note" rows="3"><%=h letter.note%></textarea></td>
        <td><input style="width: 50px" name="number_of_letters" value="<%=letter.number_of_letters%>"></input>
        <td><%=h letter.status%></td>
        <td><%=h letter.voulenteer_id%></td>
        <td><%=h letter.voulenteer_name%></td>
        <td><%=h letter.claim_date%></td>
        <td><%=h letter.due_date%></td>
        <td><%=h letter.return_date%></td>
        <td><a href="/file_download?id=<%=letter.id%>"><%=h letter.return_file_url%></a></td>
        <td>
          <input type=submit value=Update>
          </form>
          <form method=post action='delete_letter'>
            <input style="display:none" name="id" value="<%= letter.id %>"></input>
            <input type=submit value=Delete>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
    
    <!-- end -->
    
    <!-- file upload   -->
    <h3>File Upload</h3>
    <form action="/file_upload"
    enctype="multipart/form-data" method="post">
    <p>
    Please specify a file:<br>
    <input type="file" name="upload_file" size="40">
    </p>
    <div>
    <input type="submit" value="Send">
    </div>
    </form>
    <!-- end -->

    <div style="position: absolute; bottom: 20px; right: 20px;">
    <img src="/images/appengine.gif"></div>
  </body>
</html>