<table style="width: 1150px">
    <col width=80>
    <col width=70>
    <col width=70>
    <col width=70>
    <col width=70>
    <col width=170>
    <col width=40>
    <col width=70>
    <col width=150>
    <col width=80>
    <col width=80>
    <% if is_return_letters %>
            <col width=80>
            <col width=80>
    <% end %>
    <col width=50>
    <col width=50>
    <tr>
        <th>上傳日期<br/>
        <th>狀態</th>
        <th>信件種類</th>
        <th>檔案名稱</th>
        <th>國家</th>
        <th>備註</th>
        <th>封數</th>
        <th>志工姓名</th>
        <th>志工帳號</th>
        <th>領取日期</th>
        <th>應返日期</th>
        <% if is_return_letters %>
            <th>回傳日期</th>
            <th>譯返下載</th>
        <% end %>
       <th>操作</th>
       <% if !is_return_letters %>
        <th><input type="checkbox" id="selectallavailable"></th>
       <% else %>
        <th><input type="checkbox" id="selectallclaimed"></th>
       <% end %>
    </tr>

    <% pages.each do |page| %>
        <% if query_string %>
            <a href="/employee?start=<%= page %>&<%= query_string %>"><%= page %></a>&nbsp;
        <% else %>
            <a href="/employee?start=<%= page %>"><%= page %></a>&nbsp;
        <% end %>
    <% end %>
    <% letters.each do |letter| %>
        <tr>
            <% if query_string2 %>
                <form method=post action="update_letter?<%= query_string2 %>">
            <% else %>
                <form method=post action='update_letter'>
            <% end %>
            <td style="display:none"><input id="<%= letter.id %>_id" name="id" value="<%= letter.id %>"></input></td>
            <td><%= h letter.create_date %></td>
            <td><%= letter_status_to_chinese(letter.status) %></td>
            <td>
                <select id="<%=letter.id %>_letter_source_type" name="letter_source_type" select="<%= letter.letter_source_type %>">
                    <option>請選擇</option>
                    <option value="手寫稿">手寫稿</option>
                    <option value="打字稿">打字稿</option>
                </select>
            </td>
            <td class="wrap"><%= truncate letter.upload_file_name %></td>
            <td>
                <input id="<%=letter.id%>_country" style="width: 60px" name="country" value="<%= letter.country_name %>"/>
            </td>
            <td><textarea id="<%=letter.id%>_note" name="note" rows="3" style="width:140px"><%= h letter.note %></textarea></td>
            <td><input id="<%=letter.id %>_number_of_letters" style="width: 30px" name="number_of_letters" value="<%= letter.number_of_letters %>"></input></td>
            <td><%= h letter.voulenteer_name %></td>
            <td class="wrap"><%= h letter.voulenteer_account %></td>
            <td><%= h letter.claim_date %></td>
            <td><%= h letter.due_date %></td>
            <% if is_return_letters%>
                <td><%= h letter.return_date %></td>
                <td><a href="/serve?blob-key=<%= letter.return_file_url %>"><%= truncate letter.return_file_name %></a></td>
            <% end %>
            <td>
                <% if letter.show == "false" %>
                        <input id="<%=letter.id%>_save_button" type="button" value="儲存" onclick="WV.checkUpdatingLetters(<%=letter.id %>, 'eng')">
                        </form>
                        <img id="<%=letter.id%>_img" src="/warn.png" alt="">
                <% elsif (letter.claim_date == nil) %>
                    <input type="button" value="更新" onclick="WV.checkUpdatingLetters(<%=letter.id %>, 'eng')">
                    </form>
                <% elsif (letter.status == "returned") %>
                    <input type="button" value="更新" onclick="WV.checkUpdatingLetters(<%=letter.id %>, 'eng')">
                    </form>
                <% end %>
				<div class="ajax_msg" id="<%= letter.id %>_msg"></div>
            </td>
            <td>
               <% if !is_return_letters %>
                <input class="availablecase" type="checkbox" style="color:white" value="<%= letter.id %>"/>
               <% else %>
                <input class="claimedcase" type="checkbox" style="color:white" value="<%= letter.id %>"/>
               <% end %>
            </td>
            </tr>
    <% end %>
</table>

