<table class="table table-bordered table-striped table-hover">
    <% if !is_chinese_email(trans_type) %>
        <col width=100>
        <col width=50>
        <% if is_emergent %>
            <col width=50>
        <% end %>
        <col width=300>
        <col width=20>
        <col width=50>
        <col width=250>
        <col width=100>
    <% else %>
        <col width=100>
        <col width=350>
        <col width=20>
        <col width=50>
        <col width=300>
        <col width=100>
    <% end %>
    <tr>
        <th>上傳日期</th>
        <% if !is_chinese_email(trans_type) %>
            <th>國家</th>
        <% end %>
        <% if is_emergent %>
            <th>信種</th>
        <% end %>
        <th>備註</th>
        <th>封數</th>
        <th>狀態</th>
        <!-- <th>領取日期</th> -->
        <!-- <th>應返日期</th> -->
        <th>待譯信件</th>
        <th>領取</th>
    </tr>


    <% letters.each do |letter| %>
        <tr>
            <td style="display:none"><input name="id" value="<%= letter.id %>"></input></td>
            <td><%= h letter.create_date %></td>
            <!-- <td><%= h letter.employee_id %></td> -->
            <% if !is_chinese_email(trans_type) %>
                <td><%= letter.country_name %></td>
            <% end %>
            <% if is_emergent %>
                <td><%= h letter.letter_source_type %></td>
            <% end %>
            <td class="wrap"><%= append_note(trans_type, letter.note, letter.employee_id) %></td>
            <td><%= h letter.number_of_letters %></td>
                <% if (letter.status.index('emergent') == nil) %>
                    <td><%= letter_status_to_chinese(letter.status) %></td>
                <% else %>
                    <td><span style="color:red"><%= letter_status_to_chinese(letter.status) %></span></td>
                <% end %>
            <!-- <td><%= h letter.claim_date %></td> -->
            <!-- <td><%= h letter.due_date %></td> -->
            <td class="wrap"><%= truncate letter.upload_file_name %></td>
            <td>
                <form action="/claim_letter?id=<%= letter.id %>&account_id=<%= account_id %>" method="post">
                    <input style="display:none" name="id" value="<%= letter.id %>"></input>
                    <input type="submit" value="領取確認" class="btn btn-primary">
                </form>
                <% if !letter.claim_date.nil? %>
                    <form action="<%= url %>/?from=/volunteer&to=/return_file_upload?id=<%= letter.id %>" enctype="multipart/form-data" method="post">
                        譯返上傳:<input type="file" name="myFile" size="10">
                        <input type="submit" value="Send" class="btn btn-success">
                    </form>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
