<!DOCTYPE html>
<html>
  <head>
    <title>World Vision</title>
    <%= erb :js_css_header %>
  </head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <body class="next2">
  <!-- log start -->
  <%= erb :header_admin %>
  <!-- new account start -->
    <div class="container-fluid">
      <div class="row-fluid">
        <h3>志工翻譯封數統計</h3>
        <h4>服務中</h4>
        <table class="table">
          <tr>
            <th>志工姓名</th>
            <th>志工編號</th>
            <th>翻譯信件</th>
            <th>備註</th>
          </tr>
          <% @in_service_volunteers.each do |voulenteer| %>
            <tr>
              <td><%= voulenteer.name %></td>
              <td><%= voulenteer.voulenteer_id %></td>
              <td>
                <% @letters[voulenteer.account].each do |letter|%>
                  <%= truncate(letter.upload_file_name) %>,
                  <%= letter.due_date %><br/>
                <% end %>
              </td>
              <td><%= voulenteer.note %></td>
            </tr>
          <% end %>
        </table>

        <h4>未服務</h4>
        <table class="table">
          <tr>
            <th>志工姓名</th>
            <th style="width: 250px">帳號</th>
            <th>志工編號</th>
            <th>上次譯返日期</th>
            <th>備註</th>
          </tr>
          <% @available_volunteers.each do |voulenteer| %>
            <tr>
              <td><%= voulenteer.name %></td>
              <td><%= voulenteer.account %></td>
              <td><%= voulenteer.voulenteer_id %></td>
              <td>
                <% if @letters[voulenteer.account]%>
                  <%= @letters[voulenteer.account].return_date %>,
                <% end %>
              </td>
              <td><%= voulenteer.note %></td>
            </tr>
          <% end %>
        </table>
        <!-- log end -->
      </div>
    </div>
  </body>
</html>
