<!DOCTYPE html>
<html>
  <head>
    <title>World Vision</title>
    <%= erb :js_css_header %>
    <script type="text/javascript">
      $(function() {
        $("#start_date" ).datepicker();
        $("#end_date" ).datepicker();
        setDate("start_date", "start_date");
        setDate("end_date", "end_date");
      });

      function setDate(param, id){
        var date = getUrlVars()[param]
        if (date){
		      date = $.url.decode(date)
		      $( "#" + id).datepicker( "setDate" , date );
	      }
      }
    </script>
  </head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <body class="next2">
  <!-- log start -->
  <%= erb :header_admin %>
  <!-- new account start -->
    <div class="container-fluid">
      <div class="row-fluid">
		    <h3>志工翻譯封數統計</h3>
		    <form url="/admin/vou">
		      譯返日期&nbsp;&nbsp;<input type="text" id="start_date" name="start_date" style="width: 100px;">
		      <input type="text" id="end_date" name="end_date" style="width: 100px;">
		      <input class="btn btn-info" type="submit" value="查詢"/>
		      <a class="btn" href="/test_download?type=3&<%=@query_string%>">下載CSV檔</a>
		    </form>
        <table class="table">
          <tr>
            <th>信件類別</th>
            <th>信件種類</th>
            <th>國家</th>
            <th>上傳同工</th>
            <th>上傳日期</th>
            <th>上傳檔案名</th>
            <th>領取日期</th>
            <th>志工姓名</th>
            <th>志工編號</th>
            <th>譯返上傳日期</th>
            <th>封數</th>
          </tr>
          <% @letters.each do |letter|%>
            <tr>
            <td><%= letter.trans_type%></td>
            <td><%= letter.letter_source_type%></td>
            <td><%= letter.country_name%></td>
            <td><%= letter.employee_id%></td>
            <td><%= letter.create_date%></td>
            <td><%= letter.upload_file_name%></td>
            <td><%= letter.claim_date%></td>
              <td><%= letter.voulenteer_name%></td>
              <td><%= letter.voulenteer_id%></td>
              <td><%= letter.return_date%></td>
              <td><%= letter.number_of_letters%></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <!-- log end -->
  </body>
</html>
