<!DOCTYPE html>
<html>
  <head>  
    <title>World Vision</title>
    <%= erb :js_css_header %>
    <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/js/ckeditor/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/ckeditor/skins/kama/editor.css">
    <script type="text/javascript" src="/js/ckeditor/lang/en.js"></script>
    <script type="text/javascript" src="/js/ckeditor/plugins/styles/styles/default.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <script language="javascript" type="text/javascript">
      <!--
      function popitup(url) {
        newwindow=window.open(url,'name','height=500,width=500');
        if (window.focus) {newwindow.focus()}
        return false;
      }

function bind_ckeditor(id){
  var name = 'content'; 
  var editor = CKEDITOR.instances[name];
  if (editor) { 
    editor.destroy(true); 
  }
  CKEDITOR.replace(id);
}

$(document).ready(function(){
    CKEDITOR.config.toolbar =
    [
      [ 'Preview', 'Source', '-', 'Bold', 'Italic', 'Styles','Format','Font','FontSize', 'TextColor','BGColor'  ]
  ];
  bind_ckeditor('editor_text');
});
 

// -->
</script>
  <%= erb :header_admin %>
  <div class="container-fluid">
    <div class="row-fluid">
      <input class="btn" type="button" value="新增News" onclick="$('#editor').show()" />
<%= erb :admin_news_editor, {:layout=>false},{:news => nil} %>

<% @news.each do |news| %>
  <%= erb :admin_news_editor, {:layout=>false},{:news => news} %>
<% end %>
<table class="table">
  <tr>
    <th style="width: 100px">上架時間</th>
    <th style="width: 100px">標題</th>
    <th style="width: 100px">狀態</th>
    <th style="width: 100px">操作</th>
  </tr>
  <% @news.each do |news| %>
    <tr>
      <td><%= news.created_date %></td>
      <td><%= news.title %></td>
      <td><%= news.status %></td>
      <td>
        <% if (news.status == 'offline') %>
            <form method=post action='update_news?id=<%= news.id %>&status=online'>
              <input class="btn" type="submit" value="上架"/>
            </form>
        <% else %>
            <form method=post action='update_news?id=<%= news.id %>&status=offline'>
              <input class="btn" type="submit" value="下架"/>
            </form>
        <% end %>
        <input class="btn" type="submit" value="修改" onclick="bind_ckeditor('editor_text_<%=news.id%>');$('#editor_<%=news.id%>').show()"/>
        <input class="btn" type="submit" value="預覽" onclick="popitup('/preview_news?id=<%=news.id%>')"/>
        
        <form method=post action='delete_news?id=<%= news.id %>'>
          <input class="btn btn-danger" type="submit" value="刪除"/>
        </form>
      </td>
    </tr>
  <% end %>
</table>
</div>
</div>
  </body>
</html>
