<html>
  <head>
    <title>World Vision</title>
<%= erb :js_css_header %>
<script type="text/javascript">
$(function() {
	$("#start_date" ).datepicker();
	$("#end_date" ).datepicker();
	$("#start_date2" ).datepicker();
	$("#end_date2" ).datepicker();
	setDate("start_date", "start_date");
	setDate("end_date", "end_date");
	setDate("start_date2", "start_date2");
	setDate("end_date2", "end_date2");
});

function setDate(param, id){
	var date = getUrlVars()[param]
	if (date){
		date = $.url.decode(date)
		$( "#" + id).datepicker( "setDate" , date );
	}
}
</script>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <body style="font-family: sans-serif;">

<!-- log start -->
<%= erb :header %>
<!-- new account start -->
<a href="/admin">管理會員</a>
<a href="/admin/vou">志工翻譯封數統計</a>
<a href="/admin/vou_status">志工服務管理報表</a>
<a href="/admin_news_index">公佈欄管理</a>

	<h4>退件</h4>
	<form url="/admin/log">
	退件日期&nbsp;&nbsp;<input type="text" id="start_date" name="start_date" style="width: 100px;">
	<input type="text" id="end_date" name="end_date" style="width: 100px;">
	<input type="submit" value="查詢">
	<a href="/test_download?type=1&<%=@query_string%>">下載CSV檔</a>
	</form>
		<table>
			<tr>
				<th>志工姓名</th>
				<th>志工編號</th>
				<th>下載檔案日期</th>
				<th>退件日期</th>
				<th>退件原因</th>
			</tr>
			<% @logs.each do |log|%>
			<tr>
				<td><%= log.voulenteer_name%></td>
				<td><%= log.voulenteer_id%></td>
				<td><%= log.claim_date%></td>
				<td><%= log.return_date%></td>
				<td><%= log.excuse%></td>
			</tr>
			<% end %>
		</table>
		<h4>逾期/未譯返</h4>
		<form url="/admin/log">
		逾期日期&nbsp;&nbsp;<input type="text" id="start_date2" name="start_date2" style="width: 100px;">
		<input type="text" id="end_date2" name="end_date2" style="width: 100px;">
		<input type="submit" value="查詢"/>
		<a href="/test_download?type=2&<%=@query_string2%>">下載CSV檔</a>
		</form>
		
			<table>
				<tr>
					<th>志工姓名</th>
					<th>志工帳號</th>
					<th>下載檔案日期</th>
                    <th>檔案譯返日期</th>
				</tr>
				<% @letters.each do |letter|%>
				<tr>
					<td><%= letter.voulenteer_name%></td>
					<td><%= letter.voulenteer_account%></td>
					<td><%= letter.claim_date%></td>
                    <td><%= letter.return_date%></td>
				</tr>
				<% end %>
			</table>


<!-- log end -->
  </body>
</html>