<!DOCTYPE html>
<html lang="en">
<head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= erb :js_css_header %>
    <script type="text/javascript">
        var trans_type = "英翻中";
        $(document).ready(function() {
            var params = getUrlVars();
            var type = params["type"] == null ? "eng" : params["type"];
            var letter_status = params["letter_status"];

            if (letter_status)
                setSelected('#letter_status', letter_status);
            if (type)
                setSelected('#type', type);
            $('select[select]').each(function() {
                setSelected('#' + $(this).attr("id"), $(this).attr("select"));
            });
            markSelected('#tans_select', type);

            $("#selectallavailable").click(function () {
                $('.availablecase').attr('checked', this.checked);
            });

            $("#selectallclaimed").click(function () {
                $('.claimedcase').attr('checked', this.checked);
            });

            $('form').submit(function() {
                 show_loading_dialog();
            });
        });

        $(function() {

            $("#date_select").datepicker();
            var date = getUrlVars()["date"]
            if (date) {
                date = $.url.decode(date)
                $("#date_select").datepicker("setDate", date);
            }
        });
    </script>
</head>
<body>
<%= erb :header_wide %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <h4>信件區</h4>
          <ul class="nav nav-list">
            <li>
              <img src="/wvtlogobig.gif" />
            </li>
            <li class="divider"></li>
            <li class="active">
              <a href="/employee?type=<%= @trans_type %>">所有信件<span id="all-count" class="badge pull-right"><%= @count %></span></a>
            </li>
            <li>
              <a href="/employee?letter_status=unclaimed&type=<%= @trans_type %>">
                <i class="icon-envelope"></i>
                未領取<span class="badge pull-right" id="uncliamed-count"><%= @unclaimed_letters_count %></span></a>
            </li>
            <li>
              <a href="/employee?letter_status=claimed&type=<%= @trans_type %>">
                <i class="icon-envelope"></i>
              已領取<span class="badge pull-right" id="claimed-count"><%= @claimed_letters_count %></span></a>
            </li>
            <li>
            <a href="/employee?letter_status=emergent&type=<%= @trans_type %>">
                <i class="icon-envelope"></i>
              緊急<span class="badge pull-right badge-important" id="emergent-count"><%= @emergent_letters_count %></span></a>
            </li>
            <li>
              <a href="/employee?letter_status=returned&type=<%= @trans_type %>">譯返<span id="returned-count" class="badge pull-right badge-information"><%= @return_letters_count %></span></a>
            </li>
            <li class="divider"></li>
          </ul>
        <div>
          <!-- file upload   -->
              <h4>檔案上傳</h4>

              <form name="uploadform" action="/file_upload"
                enctype="multipart/form-data" method="post">
                <p>
                <input id="user_id" style="display:none" type="text" name="id" value="<%= @account.account %>"/>
                <input id="my_file" type="file" name="myFile" size="40" title="請選擇欲上傳檔案" />
                <select id="trans_type" name="type">
                  <option value="eng">英翻中</option>
                  <option value="chi">中翻英</option>
                </select>
                </p>
                <div>
                <button type="button" class="btn" onClick="return submitform(event)">上傳檔案</button>
              </form>
              <script type="text/javascript">
                function submitform(event) {
                  var trans_type = $('#trans_type option:selected').text();
                  trans_type = trans_type == "中翻英" ? "CE" : "EC";

                  var file_name = $("#my_file").val();
                  if (file_name == null || file_name == ""){
                    alert("尚未選擇上傳檔案");
                    return false;
                  } else if (file_name.indexOf(trans_type) < 0){
                    alert("檔名與信件種類不符, 請再確認");
                    return false;
                  } else {
                    document.uploadform.action = "<%=@url%>";
                    check_file_name_and_post_parameters(event,document.uploadform, {from:'/employee',to:'/file_upload', id:document.getElementById("user_id").value,type:document.getElementById("trans_type").value});
                    document.uploadform.submit();
                    show_loading_dialog();
                  }
                }
                </script>
              </div>
          <!-- end -->
          <!-- show letters -->
          <!-- total = <%= @letters.length %> rows -->
        </div>

        </div>
      </div>
      <div class="span9">
        <div class="row-fluid">
          <%= erb :_trans_type , {:layout=>false}, {:action => '/employee'} %>
          <% if @trans_type == 'eng' %>
            <h3>待譯</h3>
            <div>
              <%= erb :_emp_eng_letters, {:layout=>false},{:is_return_letters => false, :pages => @pages, :query_string => @query_string,:letters => @letters,:query_string2 =>@query_string2,:countries =>@countries} %>
              <button class="pull-right btn btn-danger" onClick="return delete_letters_submit('delete_available_letter_form', 'availablecase')">刪除</button>
            </div>
          <% else %>
            <h3>待譯</h3>
            <%= erb :_emp_chi_letters, {:layout=>false}, {:is_return_letters => false, :pages => @pages, :query_string => @query_string, :letters => @letters, :query_string2 =>@query_string2, :countries =>@countries} %>
            <button class="pull-right btn btn-danger" onClick="return delete_letters_submit('delete_available_letter_form', 'availablecase')">刪除</button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <% if @trans_type == 'eng' %>
            <h3>譯返</h3>
            <%= erb :_emp_eng_letters, {:layout=>false},{:is_return_letters => true, :pages => @return_letters_pages, :query_string => @query_string,:letters => @return_letters,:query_string2 =>@query_string2,:countries =>@countries} %>
            <button class="pull-right btn btn-danger" onClick="return delete_letters_submit('delete_claimed_letter_form', 'claimedcase')">刪除</button>
          <% else %>
            <h3>譯返</h3>
            <%= erb :_emp_chi_letters, {:layout=>false}, {:is_return_letters => true, :pages => @return_letters_pages, :query_string => @query_string, :letters => @return_letters, :query_string2 =>@query_string2, :countries =>@countries} %>
            <button class="pull-right btn btn-danger" onClick="return delete_letters_submit('delete_claimed_letter_form', 'claimedcase')">刪除</button>
          <% end %>
    </div>
  </div>
  <script type="text/javascript" src="/wv2.js"></script>
  <%= erb :js_css_footer %>
</body>
</html>


