<html>
  <head>
    <title>World Vision</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="/app.css" rel="stylesheet" />
<%= erb :js_css_header %> 
  </head>
  <body style="font-family: sans-serif;">
  <%= erb :vou_header %>
  <a  href="/volunteer">待譯信件</a>
  <a  href="/volunteer/template">各國信件翻譯範本</a>
  <!-- <a href="/volunteer/note">各國翻譯注意事項</a> -->
  <a  href="/volunteer/noun">各國翻譯常見名詞</a>
    <a href="/serve?blob-key=<%= @template.tempate_url %>">英翻中翻譯底稿下載</a>
<h3>全部最新消息</h3>
<span style="color: red">&gt;&gt;最新消息</span>
      <br>
      <% @news.each do |news| %>
                    <a href="#" onclick="popitup('/preview_news?id=<%=news.id%>')"><%= news.title %></a>
                    <br>
      <% end %>
      <br>
</body>
</html>