<html>
  <head>
    <title>World Vision</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="/app.css" rel="stylesheet" />	
  </head>
  <body style="font-family: sans-serif;">
	<%= erb :vou_header %>
	<a  href="/volunteer">待譯信件</a>
	<a  href="/volunteer/template">各國信件翻譯範本</a>
	<!-- <a href="/volunteer/note">各國翻譯注意事項</a> -->
	<a  href="/volunteer/noun">各國翻譯常見名詞</a>
<h3>各國翻譯背景</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th style="width: 100px">國家</th>
        <th style="width: 100px">翻譯背景下載</th>
    </tr>
    <tr>
        <td colspan="2" class="continent">亞洲</td>
    </tr>
    <% @asia_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.background_url %>"><%=country.background_file_name%></a></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2" class="continent">非洲</td>
    </tr>
    <% @africa_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.background_url %>"><%=country.background_file_name%></a></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2" class="continent">中東/東歐</td>
    </tr>
    <% @mid_east_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.background_url %>"><%=country.background_file_name%></a></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2" class="continent">拉丁美洲</td>
    </tr>
    <% @latin_america_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.background_url %>"><%=country.background_file_name%></a></td>
        </tr>
    <% end %>

</table>

</body>
</html>
