<table class="table table-bordered table-striped table-hover">
    <tr>
        <th style="width: 100px">國家</th>
        <th style="width: 100px">各國信件翻譯範本</th>
    </tr>
    <tr>
        <td colspan="2" class="continent">亞洲</td>
    </tr>
    <% asia_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.template_url %>"><%= country.template_file_name %></a></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2" class="continent">非洲</td>
    </tr>
    <% africa_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.template_url %>"><%= country.template_file_name %></a></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2" class="continent">中東/東歐</td>
    </tr>
    <% mid_east_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.template_url %>"><%= country.template_file_name %></a></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="2" class="continent">拉丁美洲</td>
    </tr>
    <% latin_america_countries.each do |country| %>
        <tr>
            <td><%= h country.name %></td>
            <td><a href="/serve?blob-key=<%= country.template_url %>"><%= country.template_file_name %></a></td>
        </tr>
    <% end %>

</table>
