<!DOCTYPE html>
<html>
  <head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= erb :js_css_header %>
  </head>
  <body>
    <%= erb :vou_header %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
    <%= erb :vou_side %>
        </div>
        <div class="span9">
        <h3>各國翻譯常見名詞</h3>
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th style="width: 100px">國家</th>
            <th style="width: 100px">各國翻譯常見名詞</th>
          </tr>
          <tr>
            <td colspan="2" class="continent"><i class="icon-globe"></i>亞洲</td>
          </tr>
          <% @asia_countries.each do |country| %>
            <tr>
              <td><%= h country.name %></td>
              <td><a href="/serve?blob-key=<%= country.noun_url %>"><%=truncate(country.noun_file_name)%></a></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2" class="continent"><i class="icon-globe"></i>非洲</td>
          </tr>
          <% @africa_countries.each do |country| %>
            <tr>
              <td><%= h country.name %></td>
              <td><a href="/serve?blob-key=<%= country.noun_url %>"><%=truncate(country.noun_file_name)%></a></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2" class="continent"><i class="icon-globe"></i>中東/東歐</td>
          </tr>
          <% @mid_east_countries.each do |country| %>
            <tr>
              <td><%= h country.name %></td>
              <td><a href="/serve?blob-key=<%= country.noun_url %>"><%=truncate(country.noun_file_name)%></a></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2" class="continent"><i class="icon-globe"></i>拉丁美洲</td>
          </tr>
          <% @latin_america_countries.each do |country| %>
            <tr>
              <td><%= h country.name %></td>
              <td><a href="/serve?blob-key=<%= country.noun_url %>"><%=truncate(country.noun_file_name)%></a></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>
