<!DOCTYPE html>
<html>
<head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= erb :js_css_header %>
    <style type="text/css">
      #modal-news iframe {
        border: none;
        padding: none;
        width: 100%;
        height: 420px;
      }
    </style>
    <script type="text/javascript">
      function popitup(url, title) {
        $('#modal-news-title').text(title);
        $('#modal-news-iframe').prop('src', url);
        $('#modal-news').modal();
        return false;
      }
        $(document).ready(function() {
            var type = getUrlVars()["type"] == null ? "chi" : getUrlVars()["type"];
            //markSelected($('#tans_select'), type);

            var hash_key = getUrlVars()["hash_key"];
            if (hash_key){
               download_file(hash_key); 
            }
        });

        function check(id) {
            var ele = document.getElementById(id);
            if (ele && ele.value == '') {
                alert("請輸入退件原因");
                STOP_PROPAGATION = true;
                return false;
            }
            else{
                STOP_PROPAGATION = false;
                return true;
            }
        }

        function download_file(hash_key) {
            if (hash_key) {
                document.location.href='http://www.worldvision-tw.appspot.com/serve?blob-key=' + hash_key;
            }

        }

        function claim_letter(id, account_id) {
            window.location.href = '/claim_letter?id=' + id + '&account_id=' + account_id;
        }
    </script>
</head>
<body>
  <%= erb :vou_header %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li>
              <img src="/wvtlogobig.gif" />
            </li>
            <li class="divider"></li>
            <li class="nav-header">幫助</li>
            <li>
              <a href="/volunteer/template">各國信件翻譯範本</a>
            </li>
            <li>
              <a href="/volunteer/note">各國翻譯注意事項</a>
            </li>
            <li>
              <a href="/volunteer/noun">各國翻譯常見名詞</a>
            </li>
            <% if @template %>
            <li>
              <a href="/serve?blob-key=<%= @template.tempate_url %>">英翻中翻譯底稿下載</a>
            </li>
            <% end %>
            <li class="nav-header">翻譯信件查詢</li>
            <% if  @trans_type == 'eng' %>
            <li class="active">
              <a href="#tabs-1">緊急<span class="badge pull-right badge-important"><%= @emergent_count %></span></a>
            </li>
            <li>
             <a href="#tabs-2">手寫<span class="badge pull-right"><%= @hand_writing_count %></span></a>
            </li>
            <li>
              <a href="#tabs-3">打字稿<span class="badge pull-right"><%= @typing_count %></span></a>
            </li>
            <% else %>
            <li class="active">
              <a href="#tabs-4">緊急<span class="badge badge-important pull-right"><%= @emergent_count %></span></a>
            </li>
            <li>
              <a href="#tabs-5">一般<span class="badge pull-right"><%= @letters_count %></span></a>
            </li>
            <% end %>
            <li class="divider"></li>
            <li>
            <a href="#recieved">已領取<span class="badge badge-info pull-right"><%= @recieved_count %></span></a>
            </li>
            <li class="nav-header">最新消息</li>
            <% @latest5news.each do |news| %>
              <li>
              <a href="#" onclick="popitup('/preview_news?id=<%=news.id%>', '<%= news.title %>')"><%= news.title %></a>
              </li>
            <% end %>
            <li>
              <a href="#show-all-news">其他最新消息</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="span9">
        <div class="row-fluid">
          <% if @letter_has_been_claimed %>
            <span style="color: red">抱歉, 該信件已被領取, 請領取其他信件 :)</span>
          <% end %>
            <% if  @trans_type == 'eng' %>
              <div id="tabs-1">
                <div class="pagination">
                  <ul>
                    <% @emergent_pages.each do |page| %>
                      <li class="<%= page == 1 ? 'active': '' %>">
                        <a href="/volunteer?type=eng&em_start=<%= page %>#tabs-1"><%= page %></a>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <div class="page-header">
                  <h1>緊急<small>英翻中</small></h1>
                </div>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @emergent_letters, :account_id => @account_id, :url=>@url, :is_emergent => true, :caption=>'緊急'} %>
              </div>
              <div id="tabs-2" hidden>
                <div class="pagination">
                  <ul>
                    <% @hand_writing_pages.each do |page| %>
                      <li><a href="/volunteer?type=eng&hw_start=<%= page %>#tabs-2"><%= page %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="page-header">
                  <h1>手寫<small>英翻中</small></h1>
                </div>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @hand_writing_letters, :account_id => @account_id, :url=>@url, :is_emergent => false, :caption=>'手寫'} %>
              </div>
              <div id="tabs-3" hidden>
                <div class="pagination">
                  <ul>
                    <% @typing_pages.each do |page| %>
                      <li><a href="/volunteer?type=eng&ty_start=<%= page %>#tabs-3"><%= page %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="page-header">
                  <h1>打字稿<small>英翻中</small></h1>
                </div>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @typing_letters, :account_id => @account_id, :url=>@url, :is_emergent => false, :caption=>'打字稿'} %>
              </div>
          <% else %>
              <div id="tabs-4">
                <div class="pagination">
                  <ul>
                    <% @emergent_pages.each do |page| %>
                      <li><a href="/volunteer?type=chi&em_start=<%= page %>#tabs-4"><%= page %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="page-header">
                  <h1>緊急<small>中翻英</small></h1>
                </div>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @emergent_letters, :account_id => @account_id, :url=>@url, :is_emergent => false, :caption=>'緊急'} %>
              </div>
              <div id="tabs-5" hidden>
                <div class="pagination">
                  <ul>
                    <% @pages.each do |page| %>
                      <li><a href="/volunteer?type=chi&start=<%= page %>#tabs-5"><%= page %></a></li>
                    <% end %>
                  </ul>
                </div>
                <div class="page-header">
                  <h1>一般<small>中翻英</small></h1>
                </div>
                <%= erb :_vou_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @letters, :account_id => @account_id, :url=>@url, :is_emergent => false, :caption=>'一般'} %>
              </div>
            <% end %>
          <div id="recieved" hidden>
            <div class="page-header">
              <h1>已領取</h1>
            </div>
            <%= erb :_vou_claimed_letters, {:layout => false}, {:trans_type => @trans_type, :letters => @voulenteer_letters, :url=>@url, :re_upload=>@re_upload, :caption=>'已領取'} %>
          </div>
          <div id="show-all-news" hidden>
            <h1>全部最新消息</h1>
          <% @news.each do |news| %>
            <a href="#" onclick="popitup('/preview_news?id=<%=news.id%>', '<%= news.title %>')"><%= news.title %></a>
            <br>
          <% end %>
          </div>
      </div>
    </div>
    <hr/>
  </div>
  <div class="modal hide fade in" id="modal-news" style="display: none;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>  
      <h3 id="modal-news-title">NEWS</h3>
    </div>
    <iframe id="modal-news-iframe"></iframe>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">關閉</a>  
    </div>
  </div>
  <script type="text/javascript" src="/wv.js"></script>
</body>
</html>
